@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This is all about canyoneering!</h1>
</div>
<p>
    My name is Brendan and I like to canyoneer. Canyoneering is esentially extreme hiking. When one canyoneers,
    they can use ropes and belay devices to descend down high walls and difficult-to-navigate terrain. Typically,
    once a canyon is entered, there is no coming back due to the fact that most people cannot climb sheer cliffs
    with no handholds. One must descend down to the end of the canyon instead. Most of my experience with canyoneering
    has been with my family and close friends. There is a large degree of trust that goes into a group that goes 
    canyoneering. If I was to get hurt or stuck on a cliff, I have to trust those with me to help me get to safety 
    to complete the hike. Many times, we will park a car where we plan to end our hike and start where we end. 
    We will hike to the canyon's mouth and hike back to the start once we come out the bottom.
</p>
<p>
    The reason why I love canyoneering so much is because of several reasons:
</p>
<ul>
    <li>I love being in the remote wilderness.</li>
    <li>I feel closer to God when I am not in a place with so many distractions.</li>
    <li>Stressful situations that occur during these activities bring groups together.</li>
    <li>Canyoneering has allowed me to conquer some of my worst fears in life (including heights).</li>
</ul>
<div class="text-center">
    <h3>Here are a few pictures of me on some of our canyoneering trips:</h3>
    <img style="height:600px;" src="~/img/kt&bzv.jpg" />
    <br /><br />
    <img style="height:600px" src="~/img/water.jpg" />
</div>